# Cloudflare Turnstile Captcha Configuration
PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=""
CLOUDFLARE_TURNSTILE_SECRET=""

# Rate Limiter Configuration
RATE_LIMITER_IP=""
RATE_LIMITER_IPUA=""

# SMTP Configuration
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
FROM_EMAIL=""
TO_EMAIL=""

# Umami Analytics Configuration
PUBLIC_UMAMI_HOST_URL=""
PUBLIC_UMAMI_DOMAINS=""
PUBLIC_UMAMI_TAG=""
PUBLIC_UMAMI_PERFORMANCE=""
PUBLIC_UMAMI_EXCLUDE_SEARCH=""
PUBLIC_UMAMI_EXCLUDE_HASH=""
PUBLIC_UMAMI_DO_NOT_TRACK=""
PUBLIC_UMAMI_WEBSITE_ID=""